

.menuArchivo > .arrow-button{
	
	-fx-padding: 0;
	
}

.menuArchivo > .arrow-button > .arrow, .medidasPintura > .arrow-button {
	
	-fx-padding: 0;
	
}


.medidasPintura > .arrow-button > .arrow{
	
	-fx-padding: 0;

	
}

/*botonColorSeleccionado*/

/*botonColor*/